/*Body*/
body { background: #212; background-image: url("../images/backgrounds/BG2xxhdpi.png"); color: rgba(125,125,125,1); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
#logo-large{ margin: 15px auto 10px; max-width: 500px; width:90%; padding-left: 0px}
#sign-out{float: right}
#logo{ margin: 10px; max-width: 300px; width:90%;}

.fa{padding: 3px;}
/*Responsiveness*/
@media (max-width: 480px) {
    /*Phone Layout*/
    /*body { border-top: 16px solid #ffa100; }*/
    #logo{ margin-right: auto; margin-left: auto; max-width: 90%; padding-left: 0px}


}

@media (max-width: 720px) {
    /*Table Layout*/

}


/*@media (max-width: 600px) {*/
    /**/
    /*body, .message { margin-top: 0;  box-shadow: none; width:590px;}*/
    /*body { border-top: 16px solid #ffa100; }*/
    /*!*div.logo{left:12%;}*!*/
    /*div.logo{width:315px; height:45px; background-image: url("../images/backgrounds/Asset_BG2mdpi.png");}*/
    /*#logo-tall{display: none}*/
    /*#logo-wide{display: block}*/
/*}*/


/*Logo*/

/*div.logo-container{position:relative; margin: 30px auto 16px; width:327px; height:143px;}*/
/*#logo-tall{display: block}*/
/*#logo-wide{display: none}*/

/*Headings*/
.title{
  font-weight: bold;
}

/*.navigation-bar img{*/
  /*padding-left: 15px;*/

/*}*/
.navigation-bar ul {
  float:right;
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

/*Message Elements*/
.message { background: white; max-width: 750px; margin: auto 16px; padding: 32px 24px; border-radius: 3px; }
.message h2 { color: #ffa100; font-weight: bold; font-size: 16px; margin: 0 0 8px; }
.message h1 { font-size: 22px; font-weight: 300; color: rgba(190,190,190,0.9); margin: 0 0 16px;}
.message p { line-height: 140%; margin: 16px 0 24px; font-size: 14px; }
.message a { display: block; text-align: center; background: #039be5; text-transform: uppercase; text-decoration: none; color: white; padding: 16px; border-radius: 4px; }
.message, .message a { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); margin-top:5px;}

/*Login*/
.loginbox{
    width: 80%;
    max-width: 250px;
    margin: auto;
    margin-top: 50px;
}

img{
    max-width: 100%;
    display: block;
}



/*Snackbar*/
#messageSnackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

/* Animations for snackbar */
#messageSnackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

p { color: #fff ; text-align: center; font-size: 13px; }
#github{ color: #fff ; text-align: center; font-size: 13px;}

